@model IEnumerable<Quotes.Entities.Quote>


@{
    ViewBag.Title = "All Quotes";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            Quote
        </th>
        <th></th>
        <th></th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.quoteDesc)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.quoteID }) |
                @Html.ActionLink("Details", "Details", new { id = item.quoteID }) 
            </td>
        </tr>
    }

</table>

